<p class="copyright text-muted">
    Blog powered by <a href="http://getpelican.com">Pelican</a>,
    which takes great advantage of <a href="http://python.org">Python</a>. <br />
    &copy; {{ COPYRIGHT_YEAR }} {{ AUTHOR }}
</p>
